# everypython weblog 셋팅파일 입니다.
# 필요한 설정만 변경하시면 됩니다
[deploy]
# 시크릿키는 http://www.miniwebtool.com/django-secret-key-generator/ 여기서 발급받아 채우셔도 됩니다.
SECRET_KEY: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DEBUG: True
ALLOWED_HOSTS: *
# whitenoise 설정 : 정적 파일을 CDN으로 배포시 False, CDN이 없다면 True
WHITENOISE: True

[language]
LANGUAGE_CODE: ko
TIME_ZONE: Asia/Seoul


[db]
# DB 엔진 종류
# sqlite > django.db.backends.sqlite3
# mysql > django.db.backends.mysql
# pgsql > django.db.backends.postgresql_psycopg2

ENGINE: django.db.backends.mysql
NAME: <테이블 이름>
USER: <계정>
PASSWORD: <비밀번호>
HOST: <서버 주소>
POST: <포트:3306>

[jet] # jet 관리자 설정
# 사이드 메뉴 고정(True), 애니메이션(False)
SIDE_MENU: True

[s3]
# s3리전 - 서울은 s3-ap-northeast-2.amazonaws.com
S3_HOST: s3-ap-northeast-2.amazonaws.com
# s3 접근 키 정보
ACCESS_KEY_ID: xxxxxxxxxxxxxxxxxx
SECRET_ACCESS_KEY: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# s3 버킷이름
BUCKET: xxxxxxxxxxxxxxxxxxxxx

[disqus]
# disqus 가입시 할당받는 shortname을 입력하세요.
SHORTNAME: xxxxxx

[googleAD]
# 구글 광고 설정입니다.
# 광고는 블로그 상세 페이지 상,하단과 모바일페이지 수준 광고가 지원됩니다. 원하시는 광고만 선택하시면 됩니다.
# 아래는 실제 블로그 상세 페이지에 들어가는 스크립트의 설정 부분입니다. 클라이언트 코드와 슬롯 코드만 입력하시면 됩니다.
# <ins class="adsbygoogle"
#     style="display:block"
#     data-ad-client="<클라이언트 코드>"
#     data-ad-slot="<슬롯 코드>"
#     data-ad-format="auto">
# </ins>
AD_POSTTOP: True
AD_PAGE: True
AD_CLIENT: xxxxxxxxxxxxxxxxxxxxx
AD_SLOT: xxxxxxxxxxxxx