{#
---매크로 템플릿---
각종 html태그를 제작해주는 매크로 템플릿 입니다.
다른 jinja 템플릿에서 아래 두가지 방법중 하나로 import 하시면 됩니다.
- {% import '<파일명>' as <호출명> %}
- {% from '<파일>' import <매크로명1> as <호출명>, <매크로명2> %}

---설명---
인덱스 페이지에서 활용할 컴포넌트를 만들어주는 매크로템플릿입니다.

매크로의 이식성을 위하여 총 3가지 유형으로 구성하였습니다.
각각의 매크로를 call하여 사용하면됩니다.
- 섹션그리드 매크로 : 블로그 섹션 내부 그리드 구성을 도와주는 매크로입니다.
- 컴포넌트 매크로 : 부트스트랩 컴포넌트를 만들어 주는 매크로 입니다.
- 인덱스 매크로 : 위 두가지를 조합한 인덱스 전용매크로 입니다.

인덱스 페이지 섹션에 들어갈 섹션그리드 매크로와 실제 컨텐츠인 컴포넌트 매크로로 구분되어 있습니다.
기본적으로 call을 이용하여 원하는 구성을 조합하면 됩니다.
 #}

{# 섹션그리드 매크로 #}

{# 1단 그리드 #}
{% macro grid_col1() %}
    <div class="col-xs-12 col-md-12">
        {{ caller() }}
    </div>
{% endmacro %}

{# 2단 그리드 #}
{% macro grid_col2() %}
    <div class="col-xs-12 col-md-6">
        {{ caller() }}
    </div>
{% endmacro %}


{# 컴포넌트 매크로 #}

{# 패널 생성 매크로 -패널에 추가적인 요소를 삽입하려면 call로 호출해서 사용하면됨 #}
{% macro panel(title,body,class="",id="") %}
    <div class="panel {% if class -%} {{ class }} {% endif -%}" {% if id %} id="{{ id }}" {% endif %}>
        <div class="panel-heading"><h3 class="panel-title">{{ title }}</h3></div>
        <div class="panel-body">{{ body }}</div>
        {{ caller() }}
    </div>
{% endmacro %}

{# 점보트론 생성 매크로 - 타이틀,막,본문,버튼영역을 다룰수 있다.#}
{% macro jumbotron(title,hn="h1",hr="") %}
    <div class="jumbotron">
        <{{ hn }}>{{ title }}</{{ hn }}>
        {% if hr %}<hr>{% endif %}{# 구분선추가 #}
        {{ caller() }}
    </div>
{% endmacro %}


{# 인덱스 매크로 #}

{# 반응형 점보트론 #}
{% macro index_jumbotron(title,hn="h1",hr="") %}
    {% call grid_col1 %}
        {% call jumbotron({{ title }},{{ hn }},{{ hr }}) %}
            {{ caller() }}
        {% endcall %}
    {% endcall %}
{% endmacro %}