{#
---매크로 템플릿---
각종 html태그를 제작해주는 매크로 템플릿 입니다.
다른 jinja 템플릿에서 아래 두가지 방법중 하나로 import 하시면 됩니다.
- {% import '<파일명>' as <호출명> %}
- {% from '<파일>' import <매크로명1> as <호출명>, <매크로명2> %}

{# 글보 페이지 매크로 #}



{# 반응형 패널 #}
{%- macro post_panel(icon,title,class="panel-primary",id="postdeatil",grid_class="col-xs-12 col-md-12") %}
<div class="{{ grid_class }}">
    <div class="panel {{ class }}" id="{{ id }}">
        <div class="panel-heading">
            <h3 class="panel-title headtext"><span class="glyphicon {{ icon }}"></span> &nbsp;{{ title }}</h3></div>
        <div class="panel-body">{{ caller() }}</div>
    </div>
</div>
{%- endmacro %}
