<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    {# 부트스트랩으로 변경 #}
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
.min.css">
    {% block head %}{% endblock head %}
</head>
<body>
    <header>
    {% block header %}
    {% endblock header %}
    </header>

    <aside>
    {% block aside %}
    {% endblock aside %}
    </aside>

    <section>
    {% block section %}
    {% endblock section %}
    </section>

    <footer>
    {% block footer %}
    {% endblock footer %}
    </footer>

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>