{% extends 'base.jinja' %}

{# html head태그 확장블록 #}
{% block head %}
{{ super() }}
<style>
{# 카테고리 인덴트  #}
    #indnt1{ text-indent: 10px; list-style-type: none;}
    #indnt2{ text-indent: 20px; list-style-type: none;}

</style>
{% endblock head %}

{# html head태그 확장블록 #}
{% block header %}
    {# 상단바 시작 #}
<nav>
    <div class="top-bar">
        {# 상단 메뉴바 블로그명 삽입 부분 #}
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text">EVERYPYTHON</li>
            </ul>
        </div>
        {# 상단바 메뉴 삽입 부분 #}
        <div class="top-bar-right">
            <ul class="menu">
                {% for c1 in categorys %}
                    <li><a href="#">{{ c1.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {# 상단바 종료 #}
</nav>
{% endblock header %}

{# html head태그 확장블록 #}
{% block aside %}
<nav>
    {% block nav %}
        <div class="medium-3 columns sticky-container" data-sticky-container="" style="height: 318px;">
        <div class="sticky is-anchored is-at-top" data-sticky="ha3c88-sticky" data-anchor="content" data-resize="tz7dls-sticky" data-events="resize" style="max-width: 183.25px; margin-top: 0px; top: 0px; bottom: 1618px;">
            <h4>카테고리</h4>
            <ul>
            {# 1차 카테고리 #}
            {% for c1 in categorys %}{% if not loop.first %}<br>{% endif %}
                <li> {{ c1.name }}</li>

                {# 2차 카테고리 #}
                {% if c1.under_list() %}
                    {% for c2 in c1.under_list() %}
                    <li id="indnt1">{{ c2.name }}</li>

                    {# 3차 카테고리 #}
                    {% if c2.under_list() %}
                    {% for c3 in c2.under_list() %}
                        <li id="indnt2">{{ c3.name }}</li>
                        {# 마지막 3차 카테고리 일시 줄바꿈 #}
                    {% endfor %}
                    {% endif %}

                    {% endfor %}
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endblock nav %}
</nav>
{% endblock aside %}

{# html section태그 확장블록 #}
{% block section %}

{% endblock section %}

{# html footer태 확장블록 #}
{% block footer %}
<p>made by <address>wesky93@gmail.com</address></p>
{% endblock footer %}