{% extends 'base.jinja' %}

{# 매크로 호출 #}
{% from "blog/macro/aside_widget.jinja" import widgetBox  %}


{# ---head 시작----------------- #}

    {# head tag - link,meta등등 #}
    {% block head %}{% endblock head %}

    {# head title tag #}
    {% block title %}EVERYPYTHON{% endblock title %}

    {# style tag #}
    {% block style %}
        {# 블로그 전체에 적용할 범용적인 css #}
        section.col-xs-12.col-md-9 { padding-left: 0; padding-right: 0; }
        .container-fluid{ padding-left: 0; padding-right: 0; }
        {#  플로팅바를 위한 body 상하여백 조절정& 배경설정  #}

        body { background:url("https://s3.ap-northeast-2.amazonaws.com/everypython.data/static/background/everypython_back_dark_optimize.svg") ; padding-top: 70px; padding-bottom: 70px; }

        {#  상단바 드롭다운 카테고리 스타일  #}
        #c1-drop-label { display: inline-block; padding-right: 0;}
        #c1-drop-btn { display: inline-block; padding-left: 0; }
		#c2-dropmemu { padding-left: 0; padding-right: 0; }
		#c3-dropmemu { padding-left: 35px; padding-right: 20px; }

        {#  사이드바 카테고리를 위한 스타일  #}
		#c1-list{ text-indent: 0; list-style-type: none;}
		#c2-list{ padding-bottom:7px;padding-left: 30px;list-style-type: none;}
		#c3-list{ padding-top: 6px;padding-bottom=6px;padding-left: 65px; list-style-type: none;}
        .noindnt{ text-indent: 0; }

        {#  패널 디자인&트랜지션 #}
        #p_shadow, #c_shadow{
            -webkit-box-shadow: 0 0 28px 4px black;
            -moz-box-shadow: 0 0 28px 4px black;
            box-shadow: 0 0 28px 4px black; }

        #p_shadow:hover{
            transition:all 0.3s ease-out;
            transform: scale(1.02);
            -webkit-box-shadow: 0 0 40px 8px black;
            -moz-box-shadow: 0 0 40px 8px black;
            box-shadow: 0 0 40px 8px black; }

        .panel-body{ padding-top: 10px; padding-bottom: 8px;}

        {# 위젯,패널의 제목 텍스트 #}
        .headtext{font-size:medium;font-weight: bold;}

    {# 패널 포스트 테이블 #}
        .table-postlist{}

        {#  tag 트랜지션  #}
        #tag{font-size:small;line-height:200%;}

        #tag:hover{
            transition:all 0.3s ease-out;
            -webkit-box-shadow: 0 3px 11px 1px black;
            -moz-box-shadow: 0 3px 11px 1px black;
            box-shadow: 0 3px 11px 1px black;}

        {# 개별 페이지 css - 각 페이지에선 아래 블록을 확장하여 css추가하면 #}
        {% block pagestyle %}{% endblock %}

    {% endblock style %}

    {# head태그에 달아야하는 스크립트 #}
    {% block headscript %}{% endblock %}

{# ---head 끝------------------- #}


{# ---body 시작------------------ #}
{# 이 템플릿은 전체 레이아웃과 공통 컴포넌트 요소만 정의 #}
{%- block body -%}
    <!-- Load Facebook SDK for JavaScript -->
	<div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.7";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    {# 최상단 플로팅바 #}
    <header>
    {%- block header -%}
    <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/blog">EVERYPYTHON</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a href="#" class="nav-link disabled" data-placement="bottom" data-toggle="tooltip" title="준비중입니다!">리콜더</a></li>
                        <li class="nav-item"><a href="#" class="nav-link disabled" data-placement="bottom" data-toggle="tooltip" title="준비중입니다!">PythonBook</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    {% for group in categorytree %}
                        {% set c_level,c_id,c_name,c_countpost = group[0] %}
                        {% if group|length == 1 %}
                            <li><a href="{{ url('blog:Category',kwargs={'pk':c_id}) }}">{{ c_name }}</a></li>
                        {% else %}
                            {% with %}
                            {% set under_c = group[1:] %}
                            <li class="dropdown">
                            <a id="c1-drop-label" href="{{ url('blog:Category',kwargs={'pk':c_id}) }}" >{{ c_name }}</a>
                            <a id="c1-drop-btn" role="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></a>
                            <ul class="dropdown-menu" role="menu">
                                {% for c_level,c_id,c_name,c_countpost in under_c %}
                                    {% if c_level==2 %}
                                    <li class="dropdown-header"><a id="c2-dropmemu" href="{{ url('blog:Category',kwargs={'pk':c_id}) }}" aria-expanded="false">{{ c_name }}<span class="label label-default pull-right">{{ c_countpost }}</span></a></li>
                                    {% elif c_level==3 %}
                                    <li><a id="c3-dropmemu" href="{{ url('blog:Category',kwargs={'pk':c_id}) }}">{{ c_name }}<span class="label label-default pull-right">{{ c_countpost }}</span></a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            </li>
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>{#  .nav-collapse  #}
            </div>
        </nav>
    {%- endblock header -%}
    </header>

    {# 메인 콘텐츠 #}
    <section class="col-xs-12 col-md-9">
    {#  콘텐츠영역의 전체폭은 유동적으로함  #}
    <div class="container-fluid">
        {% block section %}{% endblock section %}
    </div>
    </section>
    {# 우측 사이드바 #}
    {#
    각 페이지에 공통적으로 들어갈 수 있는 위젯은 모두 여기에 작성한다.
    각 페이지에서는 사용하지 않을 위젯만 블록확장하여 위젯영역을 초기화 하면된다.
    위젯블록명은 "w-*"의 형식을 가지며 특정 페이지에서만 사용되는 위젯은
    "w_etctop","w_etcbotten"블록을 확장해 사용한다..
    이외의 개별
       -----위젯 목록-----
       - [w_category]   카테고리 위젯
       - [w_tag]        태그 위젯
       -----구현 예정-----
       - [w_knokknok]   블로그 방문자 위젯
       - [w_starpost]   조회수 top 5
       - [w_recentpost] 최근글 top 5
    #}
    <aside class="col-xs-12 col-md-3">
        <nav class="row container-fluid">
        {# 사이드바 하단 개별 페이지 위젯 #}
            {%- block w_etctop -%}{%- endblock -%}
        {# 카테고리 위젯 #}
            {%- block w_category -%}
                {%- call widgetBox('glyphicon-list','카테고리') -%}
                    {% for group in categorytree %}
                        {% for c_level,c_id,c_name,c_countpost in group %}
                                {% if c_level==1 %}
                                <a class="list-group-item" id="c1-list" href="{{ url('blog:Category',kwargs={'pk':c_id}) }}">{{ c_name }}<span class="label label-default pull-right">{{ c_countpost }}</span></a>
                                {# 2차 카테고리 #}
                                {% elif c_level==2 %}
                                <a class="list-group-item" id="c2-list" href="{{ url('blog:Category',kwargs={'pk':c_id}) }}">{{ c_name }}<span class="label label-default noindnt pull-right">{{ c_countpost }}</span></a>
                                {# 3차 카테고리 #}
                                {%- else -%}
                                <a class="list-group-item" id="c3-list" href="{{ url('blog:Category',kwargs={'pk':c_id}) }}">{{ c_name }}<span class="label label-default noindnt pull-right">{{ c_countpost }}</span></a>
                                {%- endif -%}
                        {% endfor %}
                    {% endfor %}
                {%- endcall -%}
            {%- endblock w_category %}
        {# 태그 위젯 #}
            {%- block w_tag -%}
                {%- call widgetBox('glyphicon-tags','태그모음') -%}
                    <div class="list-group-item">
                        {%- if tags -%}
                        {%- for t_id,t_name in tags -%}
                            <a href="{{ url('blog:Tag',kwargs={'pk':t_id}) }}"><span class="label label-info label-large" id="tag">{{ t_name }}</span></a>
                        {% endfor -%}
                        {%- else -%}
                            <p>태그가 없습니다!</p>
                        {%- endif -%}
                    </div>
                {%- endcall  -%}
            {%- endblock w_tag -%}
        {# 구현 예정
            {% block w_knokknok %}{% endblock w_knokknok %}
            {% block w_starpost %}{% endblock w_starpost %}
            {% block w_recentpost %}{% endblock w_recentpost %}
        #}
        {# 사이드바 하단 개별 페이지 위젯 #}
            {%- block w_etcbotten -%}{%- endblock %}
        </nav>
    </aside>

    {# 하단 플로팅바 #}
    <footer>
        {% block footer %}{% endblock footer %}
    </footer>
{% endblock body %}


    {# 페이지 맨 아래에서 호출할 스크립트 #}
    {% block bodyscript %}{% endblock %}
{# ---body 끝-------------------- #}