{% extends 'base.html' %}
{% load staticfiles %}
{# ---head 시작----------------- #}

    {# head tag - link,meta등등 #}
    {% block head %}
        {% block meta %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
    {% endblock head %}

    {# head title tag #}
    {% block title %}EVERYPYTHON{% endblock title %}

    {# style tag #}
    {% block style %}
        /* 카테고리 메뉴 */
        .undercategory.item{padding: inherit!important;}
        .undercategory.items::before{background:rgba(255,255,255,.08)!important; }
        .undercategory.items > .item{padding-top: 0.928571em!important;padding-bottom: 0.928571em!important;}
        .undercategory.items > .item:before{background: none!important;}
        .c2{padding-left: 40px!important;}
        .c3{padding-left: 64px!important;}

        {# 개별 페이지 css - 각 페이지에선 아래 블록을 확장하여 css추가하면 #}
        {% block pagestyle %}{% endblock %}

    {% endblock style %}

    {# head태그에 달아야하는 스크립트 #}
    {% block headscript %}
        <script src="{% static 'js/admin.js' %}"></script>

    {% endblock %}

{# ---head 끝------------------- #}


{# ---body 시작------------------ #}
{# 이 템플릿은 전체 레이아웃과 공통 컴포넌트 요소만 정의 #}
{% block body %}
    <!-- Load Facebook SDK for JavaScript -->
	<div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.7";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<!-- 반응형 사이드 메뉴 -->
<div class="ui sidebar inverted vertical menu">
	<a class="item" href="">
		<h3 class="ui inverted header"><i class="terminal icon"></i>EVERYPYTHON</h3>
	</a>
	<a class="active gray item" href="">대문<i class="home icon"></i></a>
	<a class="item">카테고리<i class="folder icon"></i></a>
	<!-- 카테고리 메뉴 부분 -->
    {% for group in categorytree %}
        {# 그룹에서 가장 앞의 카테고리를 1차 카테고리로 분류 #}
        {% with c1=group.0 %}
        {% with c_level=c1.0 c_id=c1.1 c_name=c1.2 c_countpost=c1.3 %}
            {% if group|length == 1 %}
                <a class="item c1" href={% url 'blog:Category' c_id %}>
		            <div class="ui tiny label">{{ c_countpost|default_if_none:0 }}</div><i class="folder icon"></i>{{ c_name }}
                </a>
            {% else %}
                {% with under_c=group|slice:'1:' %}
                {# 1차 카테고리 #}
                <a class="item c1" href="{% url 'blog:Category' c_id %}">
		            <div class="ui tiny label">{{ c_countpost|default_if_none:0 }}</div><i class="folder icon"></i>{{ c_name }}
                </a>
                <div class="undercategory item">
                <div class="undercategory items">
                    {% for c_level,c_id,c_name,c_countpost in under_c %}
                        {# 2차 카테고리 #}
                        {% if c_level == 2 %}
                        <a class="item c2" href="{% url 'blog:Category' c_id %}">
                            <div class="ui tiny label">{{ c_countpost|default_if_none:0 }}</div><i class="folder icon"></i>{{ c_name|truncatechars:7 }}
                        </a>
                        {# 3차 카테고리 #}
                        {% elif c_level == 3 %}
                        <a class="item c3" href="{% url 'blog:Category' c_id %}">
                            <div class="ui tiny label">{{ c_countpost|default_if_none:0 }}</div><i class="folder icon"></i>{{ c_name|truncatechars:5 }}
                        </a>
                        {% endif %}
                    {% endfor %}
                </div>
                </div>
                {% endwith %}
            {% endif %}
        {% endwith %}
        {% endwith %}
    {% endfor %}
	<a class="item" href="">
		관리자
	</a>
</div>

<div class="pusher">
	<div class="ui grid container">
		<div class="ui main grid">
			<!-- 반응형 최상단 메뉴 -->
			<div class="ui fixed inverted main menu">
				<div class="ui container">
					<a class="launch icon item sidebar-toggle">
						<i class="sidebar icon"></i>
					</a>
				</div>
			</div>
            {% block section %}
            {% endblock section %}
		</div>
	</div>
</div>
{% endblock body %}

{# 페이지 맨 아래에서 호출할 스크립트 #}
{% block bodyscript %}{% endblock %}
{# ---body 끝-------------------- #}