<!DOCTYPE html>
<html lang="ko">
{% comment %}
    everypython 사이트의 메인 템플릿
    기본적인 부트스트랩과 js를 임포트 했으며 추후 추가할땐 style,headscript,bodyscript에 추가하면 됨
{% endcomment %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- 나눔스퀘어 폰트 --><link rel="stylesheet" href="//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css">
    <!-- 나눔바른고딕 폰트 --><link rel="stylesheet" href="//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css">

    <script src="https://cdn.jsdelivr.net/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.2/semantic.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.2/semantic.min.css">
    <!-- Remove if you don't want to use Chart JS -->
    {% comment %} 차트 사용시 주석 제거
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    {% endcomment %}

    {% block head %}{% endblock head %}
    <title>
        {# 홈페이지 제목 확장 #}
        {% block title %}EVERYPYTHON{% endblock title %}
    </title>
    <style>
        h1, h2, h3, h4, h5, a.header{font-family: 'Nanum Square' !important; font-weight: bold;}
        p, a, .label, .labels, .detail {font-family: 'Nanum Barungothic' !important; }

        /* 커스텀 스타일시트 */
        {% block style %}{% endblock style %}
    </style>

    {# head태그에 달아야하는 스크립트 #}
    {% block headscript %}{% endblock %}
    </head>
<body>
    {% block body %}
    {% endblock body %}

    {# 스크립트 #}
    {# 페이지 맨 아래에서 호출할 스크립트 #}
    {% block bodyscript %}{% endblock %}
</body>
</html>