<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    {# 일단 파운데이션 튜토리얼 템플릿의 css를 불러서 사용하고 추후 자체 css로 변 #}
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    {% block head %}
    <title>EveryPython</title>
    {% endblock head %}
</head>
<body>
    <header>
    {% block header %}
    {% endblock header %}
    </header>

    <aside>
    {% block aside %}
    {% endblock aside %}
    </aside>

    <section>
    {% block section %}
    {% endblock section %}
    </section>

    <footer>
    {% block footer %}
    {% endblock footer %}
    </footer>
</body>
</html>