{% extends 'base_blog.jinja' %}
{% from "blog/macro/IndexCompo.jinja" import index_panel %}
{% from "blog/macro/PostTable.jinja" import post_list,table_head %}


{# head title tag #}
{%- block title %}EVERYPYTHON{% endblock title %}

{# style tag #}
{%- block pagestyle %}
#th1 {
    margin: fix;
    width: 50px;
    text-align: center;
}
#th2{
    margin: fix;
    width: 80px;
    text-align: center;
}
#th3 {
    margin: auto;
    width: 300px;
    text-align: center;
}
#th4 {
    margin: fix;
    width: 50px;
    text-align: center;
}
{%- endblock pagestyle %}

{%- block section %}
{% if posts %}
{%- call index_panel("glyphicon-folder-open", name,"해당 카테고리 및 하위 카테고리에 속한 글 목록입니다.", grid_class="col-xs-12 col-md-12") %}
    {%- call table_head("글번호","작성일","제목","조회수",th1="th1",th2="th2",th3="th3",th4="th4") %}
        {%- for post in posts  -%}
            {% set link=url('blog:PostDetail',kwargs={'pk':post.pk}) %}
            {{ post_list(post.pk,post.create_date|date("Y-m-d"),post.title,post.hit_count.hits,clas3="text-left",col3_link=link) }}
        {%- endfor %}
    {%- endcall -%}
{%- endcall -%}
{% else %}
    {%- call index_panel("glyphicon-folder-open", name,"아직 글이 없습니다.", grid_class="col-xs-12 col-md-12") %}
    {%- endcall -%}
{% endif %}
{%- endblock section %}
{# 페이지 맨 아래에서 호출할 스크립트 #}
{%- block bodyscript -%}{% endblock %}
