{% extends 'base_blog.html' %}
{% load macros %}
{% loadmacros 'blog/macro/PostTable.html' %}

{# head title tag #}
{% block title %}EVERYPYTHON{% endblock title %}

{# style tag #}
{% block pagestyle %}
#th1 {
    margin: fix;
    width: 50px;
    text-align: center;
}
#th2{
    margin: fix;
    width: 80px;
    text-align: center;
}
#th3 {
    margin: auto;
    width: 300px;
    text-align: center;
}
#th4 {
    margin: fix;
    width: 50px;
    text-align: center;
}
{% endblock pagestyle %}

{% block section %}
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-primary" id="p_shadow">
            <div class="panel-heading"><h3 class="panel-title headtext"><span class="glyphicon glyphicon-folder-open"></span> &nbsp; {{ name }}</h3></div>
            <div class="panel-body">{{ name }} 카테고리 및 하위 카테고리에 속한 글 목록입니다.</div>
            <!-- 글목록 -->
            <table class="table table-striped table-postlist">
                {% use_macro table_head '글번호' '작성일' '제목' col4='조회수' th1='th1' th2='th2' th3='th3' th4='th4'%}
                {% use_macro table_body_post posts '카테고리' %}
            </table>
        </div>
    </div>
{% endblock section %}
{# 페이지 맨 아래에서 호출할 스크립트 #}
{% block bodyscript %}{% endblock %}
