<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ hi }}</title>
</head>
<body>
{{ hi }}<br>
{{ hi }}<br>

<br> 딕셔너리 접근 테스트 <br>
<br>콘텍스트로 받은 딕셔너리 test <br>
{{ test }}<br>
<br> test.1 -> {{ test.1 }}<br>

<br> with 구문 테스트 <br>
{% with dictest = test.1.tree %}
with dictest=test.1.tree -> {{ dictest }}<br>
dictest.3 -> {{ dictest.3 }}<br>
{% endwith %}

<br>for 구문 테스트<br>
test.1.a하면 dict['a']를 못찾겠다고 에러뿜음<br>
test.1[a]하면 정상적으로 딕셔너리 값이 출력됨<br><br>
{% for a in test.1 %}
for a in test.1 <br>
a = {{ a }}<br>
test.1.a : {{ test.1.a }}<br>
test.1[a] : {{ test.1[a] }}<br><br>
{% endfor %}
</body>
</html>
