{% extends 'base_blog.html' %}

{# head title tag #}
{% block title %}EVERYPYTHON{% endblock title %}

{# style tag #}
{% block pagestyle %}
{% endblock pagestyle %}

{% block section %}
    {# 최신글 #}
    <div class="ui row">
        <div class="one column">
            <div class="ui segments">
                <div class="ui segment"><h3 class="ui header">최신글</h3></div>
                <div class="ui segment">
                    <div class="ui divided items">
                        {% for pk,category,created_date,title,description,tags in newposts %}
                            {% include 'blog/module/list_post.html' %}
                        {% empty %}
                            <p>글이 없습니다</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# 인기글 #}
    <div class="ui row">
        <div class="one column">
            <div class="ui segments">
                <div class="ui segment"><h3 class="ui header">인기글</h3></div>
                <div class="ui segment">
                    <div class="ui divided items">
                        {% for pk,category,created_date,title,description,tags in starposts %}
                            {% include 'blog/module/list_post.html' %}
                        {% empty %}
                            <p>글이 없습니다</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# 하단 위젯 #}
    <div class="row">
        {# 프로필 위젯 #}
        <div class="top-table column">
            <div class="ui segments">
                <div class="ui segment">
                    <h3 class="ui blue header"><i class="ui large child icon"></i> 쥔장</h3>
                </div>
                <div class="ui segment" id="mainwidget">
                    <div class="ui list">
                        <div class="item">
                            <i class="users icon"></i>
                            <div class="content">
                                무소속
                            </div>
                        </div>
                        <div class="item">
                            <i class="marker icon"></i>
                            <div class="content">
                                빛고을
                            </div>
                        </div>
                        <div class="item">
                            <i class="mail icon"></i>
                            <div class="content">
                                <a href="mailto:jack@semantic-ui.com">wesky93@gmail.com</a>
                            </div>
                        </div>
                        <div class="item">
                            <i class="github icon"></i>
                            <div class="content">
                                <a href="https://github.com/wesky93">github/wesky93</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# 태그 위젯 #}
        <div class="doughnut-chart column">
            <div class="ui segments">
                <div class="ui segment">
                    <h3 class="ui blue header"><i class="ui large teal tags icon"></i> 태그 모음</h3>
                </div>
                <div class="ui segment" id="mainwidget">
                    <div class="ui small teal tag labels">
                        {% for t_name,t_count in tags %}
                            {% include 'blog/module/label_tag.html' %}
                            {% empty %}
                                <p>태그가 없습니다!</p>
                            {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock section %}
{# 페이지 맨 아래에서 호출할 스크립트 #}
{% block bodyscript %}{% endblock %}
