{% extends 'base_blog.jinja' %}

{# html head태그 확장블록 #}
{% block head %}
{{ super() }}
{% endblock head %}

{# html head태그 확장블록 #}
{% block header %}
{{ super() }}
{% endblock header %}

{# html head태그 확장블록 #}
{% block aside %}
    {% block nav %}
        {{ super() }}
    {% endblock nav %}
{% endblock aside %}

{# html section태그 확장블록 #}
{% block section %}

{% endblock section %}

{# html footer태 확장블록 #}
{% block footer %}

{% endblock footer %}
