{% extends 'base_blog.jinja' %}

{# head title tag #}
{% block title %}EVERYPYTHON{% endblock title %}

{# style tag #}
{% block pagestyle %}

{% endblock pagestyle %}

{% block section %}
<!-- 점보트론 -->
    <div class="col-xs-12 col-md-12">
        <div class="jumbotron">
            <h1>everypython</h1>
            <p>모두를 위한 파이썬</p>
        </div>
    </div>

    <!-- 최신글 -->
    <div class="col-xs-12 col-md-6">
        <div class="panel panel-primary" id="p_shadow">
            <div class="panel-heading">
                <h3 class="panel-title">최신글</h3>
            </div>
            <div class="panel-body">가장 최근에 올라온 글입니다.	</div>
            <!-- 글목록 -->
            <table class="table table-striped table-postlist">
                <tr>
                    <th>발행일</th>
                    <th>제목</th>
                    <th>카테고리</th>
                </tr>
                <tr>
                    <td>2016-06-12</td>
                    <td><a href="#">죽어라 죽어</a></td>
                    <td><a href="#">리퍼</a></td>
                </tr>
                {{ post_list(col1="2016-0615",col2="까꿍",col3="카테마테")}}
					</table>
				</div>
			</div>
    <div class="col-xs-12 col-md-6">
        <div class="panel panel-success" id="p_shadow">
            <div class="panel-heading">
                <h3 class="panel-title">인기글</h3>
            </div>
            <div class="panel-body">가장 인기있는 글목록 입니다.</div>
            <!-- 글목록 -->
            <table class="table table-striped table-postlist">
                <tr>
                    <th>조회수</th>
                    <th>제목</th>
                    <th>카테고리</th>
                </tr>
                <tr>
                    <td>2322</td>
                    <td><a href="#">죽어라 죽어</a></td>
                    <td><a href="#">리퍼</a></td></a>
                </tr>

                <tr>
                    <td>2016</td>
                    <td><a href="#">쥬금을 마지해라~~</a></td>
                    <td><a href="#">트레이서</a></td>
                </tr>
                <tr>
                    <td>1322</td>
                    <td><a href="#">죽어라 죽어</a></td>
                    <td><a href="#">리퍼</a></td>
                </tr>

                <tr>
                    <td>1016</td>
                    <td><a href="#">쥬금을 마지해라~~</a></td>
                    <td><a href="#">트레이서</a></td>
                </tr>
                <tr>
                    <td>322</td>
                    <td><a href="#">죽어라 죽어</a></td>
                    <td><a href="#">리퍼</a></td>
                </tr>

                <tr>
                    <td>16</td>
                    <td><a href="#">쥬금을 마지해라~~</a></td>
                    <td><a href="#">트레이서</a></td>
                </tr>
            </table>
        </div>
    </div>
{% endblock section %}
{# 페이지 맨 아래에서 호출할 스크립트 #}
{% block bodyscript %}{% endblock %}
