{% extends 'base_blog.html' %}

{# head title tag #}
{% block title %}EVERYPYTHON{% endblock title %}

{# style tag #}
{% block pagestyle %}
{% endblock pagestyle %}

{% block section %}
    <div class="ui row">
        <div class="one column">
        <div class="ui segments">
            <div class="ui segment"><h3 class="ui header">최신글</h3></div>
            <div class="ui segment">
                <div class="ui divided items">
                    {% for pk,hits,title,category  in starposts %}
                        {% include 'blog/module/list_post.html' %}
                    {% empty %}
                        <p>글이 없습니다</p>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock section %}
{# 페이지 맨 아래에서 호출할 스크립트 #}
{% block bodyscript %}{% endblock %}
