{% extends 'base_blog.jinja' %}
{% from "blog/macro/postdetail.jinja" import post_panel %}
{# head title tag #}
{%- block title %}EVERYPYTHON{% endblock title %}

{# style tag #}
{%- block pagestyle %}

{%- endblock pagestyle %}

{%- block section %}
    <article>
    {%- call post_panel("glyphicon-folder-open", object.category, grid_class="col-xs-12 col-md-12") %}
    <div style="margin-top: 20px;" class="page-header"><h1>{{ object.title }}</h1>
    <p style="margin-bottom: 0;">
        <span class="glyphicon glyphicon-user"></span>&nbsp;{{ object.author }}&nbsp;&nbsp;&nbsp;
        <span class="glyphicon glyphicon-calendar"></span>&nbsp;{{ object.create_date|date }}&nbsp;&nbsp;&nbsp;
        <span class="glyphicon glyphicon-tag"></span>&nbsp;
            {% for tag in object.tag.names() %}
                <a href="{{ url('blog:Tag',kwargs={'pk':tagmodel.objects.get(name=tag).id}) }}"><span class="label label-info label-large" id="tag">{{ tag }}</span></a>
            {%- endfor %}&nbsp;&nbsp;&nbsp;
        조회수: {{ object.hit_count.hits }}
    </p>
    </div>
    <p>
        {%- autoescape off -%}
        {{ object.content }}
        {%- endautoescape %}
    </p>
    {%- endcall -%}
    </article>
{%- endblock section %}
{# 페이지 맨 아래에서 호출할 스크립트 #}
{%- block bodyscript -%}{% endblock %}