<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>{{ object.title }}</h1><br>
    <h5>{{ object.author }}</h5><br>
    {{ object.category }}
</body>
</html>