{% extends 'base_blog.html' %}
{% load static %}
{% load hitcount_tags %}

{% block meta %}{% include 'blog/module/og_postdetail.html' %}{% endblock meta %}
{% block link %}
    {# facebook 공유를 위한 메타태그 #}

    <link href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/monokai_sublime.css' %}"
          rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/font-hack/2.010/css/hack.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/font-nanum/1.0/nanumgothiccoding/nanumgothiccoding.css">
{% endblock link %}
{# head title tag #}
{% block title %}EVERYPYTHON{% endblock title %}

{# style tag #}
{% block pagestyle %}
    code { font-family: Hack, NanumGothicCoding, '나눔고딕코딩', monospace; line-height: 1.4em;}
{% endblock pagestyle %}

{% block headscript %}
    {% if ad.page or ad.top or ad.down %}
        {# 구글 에드센스용 스크립트 #}
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {% endif %}
    {% if ad.page %}
        {# 구글 에드센스 모바일 페이지 광고 스크립트 #}
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "{{ ad.client }}",
                enable_page_level_ads: true
            });
        </script>
    {% endif %}
    <script src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block section %}
    <div class="ui row">
        <div class="one column">
            <article class="ui raised segments">
                {# 제목 영역 #}
                <div class="ui top attached segment">
                    <div class="item">
                        <div class="content">
                            <div class="meta">
                                <a class="ui blue ribbon label" href="{% url 'blog:Category' object.category %}"><i
                                        class="folder icon"></i> &nbsp;{{ object.category }}</a>

                                <div class="ui tiny label">
                                    <i class="calendar icon"></i>&nbsp;{{ object.created_date|date:"Y M d" }}
                                    <div class="detail">{{ object.created_date|timesince }} 전</div>
                                </div>
                                <div class="ui tiny label">
                                    <i class="unhide icon"></i>&nbsp;
                                    <div class="detail">{% get_hit_count for object %}</div>
                                </div>
                                <div class="fb-share-button"
                                     data-href="{{ request.build_absolute_uri }}"
                                     data-layout="button_count" data-size="small" data-mobile-iframe="false"><a
                                        class="fb-xfbml-parse-ignore" target="_blank"
                                        href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">공유하기</a>
                                </div>

                            </div>
                            <div class="ui header"><h2>{{ object.title }}</h2></div>

                            <div class="extra">
                                <div class="ui mini teal tag labels">
                                    <i class="ui large teal tags icon"></i>
                                    {% for tag in object.tag.all %}
                                        <a class="ui label" href="{% url 'blog:Tag' tag %}">{{ tag }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% comment %} 추후 상단 광고 추가시 활용
                {# 본문 상단 광고 영역 #}
                {% if ad.top %}
                    <div class="ui centered leaderboard ad">
                        <!-- 블로그 반응형 광고 -->
                        <ins class="adsbygoogle"
                             style="display:block"
                             data-ad-client="{{ ad.client }}"
                             data-ad-slot="{{ ad.slot }}"
                             data-ad-format="auto"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                {% endif %}
                {% endcomment %}

                {# 본문 영역 #}
                <div class="ui attached segment postbody">
                    {% if not object.markdown %}
                        {% autoescape off %}{{ object.content }}{% endautoescape %}
                    {% endif %}
                </div>
                {% if object.markdown %}
                    <script src="//cdnjs.cloudflare.com/ajax/libs/showdown/1.4.2/showdown.min.js"></script>
                    <script src="{% static 'js/postdetailMD.js' %}"></script>
                    <script>
                        //마크다운 내용을 시맨틱ui에 맞추기 위한 확장
                        var markpost = function () {
                            var ch_list = {
                                type: 'output',

                            }

                        }
                        var converter = new showdown.Converter({strikethrough: true, extensions: ['semantic',]});
                        {# 마크다운 파일을 html로 변경해준다 #}
                        var text = "{{ object.content|safe|escapejs }}";
                        var bodytext = converter.makeHtml(text);
                        $('div.postbody').html(bodytext);
                    </script>
                {% endif %}
                {# 본문 하단 광고 #}
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- 블로그 모바일 배너 광고 -->
                {% if ad.down %}
                    <div class="ui centered large leaderboard ad">
                        <!-- 블로그 반응형 광고 -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:320px;height:100px"
                             data-ad-client="{{ ad.client }}"
                             data-ad-slot="{{ ad.slot }}"
                             data-ad-format="auto"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                {% endif %}
                {# 댓글 영역 #}
                <div class="ui bottom attached segment">
                    <div id="disqus_thread"></div>
                </div>
            </article>
        </div>
    </div>
    </div>
    <script>
        var disqus_config = function () {
            this.page.url = '{{request.build_absolute_uri}}';  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = '{{ object.id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = '//{{ shortname }}.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>
{% endblock section %}
{# 페이지 맨 아래에서 호출할 스크립트 #}
{% block bodyscript %}
    <script id="dsq-count-scr" src="//{{ shortname }}.disqus.com/count.js" async></script>
    {{ super }}
{% endblock %}